.ButtonComponent {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.ButtonColorPicker {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0%;
}

.ButtonLabelPicker {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0%;
}

.ButtonStripPicker {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0%;
}

.ButtonPickButton {
    background-color: var(--bg-light);
    color: var(--text);
    border: none;
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
}