.WireComponent {
    margin: 10px;    
}

.WireButtons {
    display: flex;
    flex-direction: column;
}

.WireButtonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.WireButton {
    background-color: var(--bg-light);
    color: var(--text);
    border: none;
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
}