.Red {
  background-color: var(--red);
  color: var(--text);
}

.Green {
  background-color: var(--green);
  color: var(--text);
}

.Blue {
  background-color: var(--blue);
  color: var(--text);
}

.Yellow {
  background-color: var(--yellow);
  color: var(--bg-dark);
}

.White {
  background-color: var(--white);
  color: var(--bg-dark);
}

.Black {
  background-color: var(--black);
  color: var(--text);
}

.Empty {
  background-color: var(--bg-light);
  color: var(--text);
}